/*Notifications Button*/
.notification-btn {
    border: none;
    background: none;
}

.notification-btn .p-button-icon {
    font-size: 17.5px;
    color: #000;
}

.notification-btn:hover {
    cursor: pointer;
}

/*Notifications Button*/



/*Notification Card*/
.notification-card {
    margin-top: -20px;
}

.notification-card:hover {
    cursor: pointer;
    opacity: 0.5;
}

.notification-titel {
    margin-left: 63px;
    margin-top: 10px;
    margin-bottom: -17px;
}

/*Notification Card*/



/*No Notifications*/
.empty-container {
    text-align: center;
}

.no-notifications {
    text-align: center;
    margin-top: 225px;
}

.no-notifications img {
    margin-bottom: -30px
}

.no-notifications p {
    font-size: 20px
}

/*No Notifications*/