

.search-btn-icon{
    margin-bottom: 5px;
    margin-left: 5px;
}

.sub_title{
    color:aqua
}

.mobile-logo{
  display:none;
}


  @media (max-width:629px) {
    .sub_titel{
      display: none;
      
    }
    .input_icon{
        display:none;
    }
    #search-btn{
        margin-top:10px;
        width: 100px;
    }


    
  }


input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}