.divider {
    height: 15px;
    margin-right: -3px;
    margin-left: -10px;
}

/*Nav Bar - Signed In*/

.avatar-signedin {
    background-color: #f59e0b;
    color: #ffffff;
}

.signin-button{
    margin-right: -15px;
}

.notification-btn{
    margin-right:-20px;
}

/*Nav Bar - Signed In*/