@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');



body {
  font-family: var(--font-family);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}




.popup-content{
  border-radius: 10px;

  box-shadow: inset 0 -3em 3em rgba(0, 0, 0, 0.1), 0 0 0 2px rgb(255, 255, 255),
  0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
  
  animation: fadeIn 2s;
}

@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@media only screen and (min-width: 390px) and (max-width: 767px) { 
  
  .popup-content{
    width: 100%;
  }

  .popup-content {
    font-size: 14px;
    padding: 10px;
    height: 100vh; /* Set height to 100% of viewport height */
  }

  /* Center the close button */
  .modal > .close {
    right: 10px;
    top: 10px;
  }

  /* Center the logo */
  .modal > .text-center {
    text-align: center;
  }

  /* Adjust spacing between form elements */
  .modal > .content > div {
    margin-bottom: 15px;
  }

  /* Make the form inputs and button full-width on smaller screens */
  .modal > .content .p-inputtext,
  .modal > .content .p-button {
    width: 100%;
  }
 }


.modal {
    font-size: 12px;
    padding:20px;
  }
  .modal > .header {
    width: 100%;
    font-size: 18px;
    text-align: center;
    padding: 5px;
  }
  .modal > .content {
    width: 100%;
    padding: 10px 5px;
    
  }
  .modal > .actions {
    width: 100%;
    padding: 10px 5px;
    margin: auto;
    text-align: center;
    
  }
  .modal > .close {
    cursor: pointer;
    position: absolute;
    display: block;
    padding: 2px 5px;
    line-height: 20px;
    right: -10px;
    top: -10px;
    font-size: 24px;
    background: #ffffff;
    border-radius: 18px;
    border: 1px solid #cfcece;
  }

  .lbl{
    font-size:15px;
  }







  